@model Nix_Hotel.WEB.Models.BookingModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>BookingModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientFullName)
        </dt>

        <dd>
            @Model.Client.ClientFullName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>

        <dd>
            @Model.Room.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @{ var date = Model.BookingDate != null ? Model.BookingDate.Value.ToShortDateString() : "";}
            @date
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Model.ArrivalDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>

        <dd>
            @Model.CheckoutDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ViewAll") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
